/* ----------------------- GENERAL ----------------------- */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body > .container {
    padding-top: 0px;
}

b, strong {
    font-weight: bold;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 18px;
    line-height: 1.37500rem;
    font-size: 18px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    line-height: 22px;
    outline-color:rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #132256 !important;
}

img {
    vertical-align: inherit;
}

/* ----------------------- BARRA DE NAVEGACIÓN (LOGO Y LINKS) ----------------------- */
.header {
    background-color: #132256;
}

.bg-light {
    padding: 30px;
    background-color: transparent!important;
}

.logo-img {
    margin-top: -50px;
}

body nav.navbar {
    margin-top: 13px;
}

.nav {
    display: inherit;
    float: right;
}

.nav-link:hover {
    background-color: white;
    transition: all 0.3s ease-in-out;
    color: #113b61;
}

.navbar-light .navbar-toggler {
    background-color: white;
    z-index: 10;
}

ul.nav a {
    color: white;
}

.logo {
    margin-top: 100px;
    width: 80% !important;
}

/* ----------------------- HASHTAG ----------------------- */
.hashtag {
    color: white !important;
    font-size: 30px !important;
    width: 350px !important;
    margin: auto;
    padding: 20px 30px 10px 30px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    background-color: #132256;
}

.hashtag:hover {
    background-color: #2c64d5 !important;
    color: white !important;
    transition: all 0.3s ease-in-out;
}


.jumbotron-fluid {
    height: 650px!important;
    background-image: url("../images/hero.jpg")!important; 
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.jumbotron{
    background-size: cover; 
    color: white;
    border-radius: 0;
}

/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 80px;
    border-bottom: 20px solid #132256;
    background-color: #132256;
}

/* ----------------------- ACCORDEON ----------------------- */
button.acordion {
    background-color: #f1f1f1;
    color: #132256;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 1s;
    font-weight: 700;
    height: 82px;
}
button.acordion.active, button.acordion:hover {
    background-color: #f1f1f1;
}
button.acordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: -60px;
    background-color: #132256;
    padding: 0px 14px;
}
button.acordion.active:after {
    content: "\2212";
    background-color: #ffc600;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.number-acc {
    color: #acb1c3;
    font-weight: 900 !important;
    font-size: 50px;
    padding: 7px 30px 10px 25px;
    border-right: 1px solid #acb1c3;
}
div.panel {
    background-color: #f1f1f1;
}
.col-11 {
    line-height: 76px;
    padding-right: 60px;
}

/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook {
    color: white;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover {
    color: gray;
    transition: all 0.3s ease-in-out;
}

.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}

/* ----------------------- VER MAS ----------------------- */
.mread-more-target {
    visibility: collapse !important;
    font-size: 0 !important;
    transition: .25s ease !important;
}
.mread-more-state:checked ~ .mread-more-wrap .mread-more-target,
.mread-more-state:checked ~ .mread-more-target {
    visibility: visible !important;
    font-size: 18px !important;
}
.mread-more-trigger {
    cursor: pointer;
    display: block;
    background-color: #132256;
    color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;
    font-size: 18px !important;
}
.mread-more-trigger:hover {
    cursor: pointer;
    padding: 10px 5px;
    color: white !important;
    background-color: #2c64d5;
    transition: all 0.3s ease-in-out;
}
.mread-more-state:checked ~ .mread-more-trigger {
    margin: 0px 0 0 0;
}

/* ocultamiento de check*/
.mread-more-state {
    display: none !important;
}
/**/
  
/* botones*/
.mread-more-state ~ .mread-more-trigger:before {
    content: 'Ver más';
}
.mread-more-state:checked ~ .mread-more-trigger:before {
    content: 'Cerrar';
}
label {
    margin-top: 0px !important;
    margin-bottom: 50px !important;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1.display-4 {
        font-size: 20px !important;
    }
    .hashtag {
        width: 300px !important;
    }
    .hashtag h1 b {
        font-size: 25px;
    }
    .embed-responsive {
        width: 100%;
    }
    .jumbotron-fluid {
        height: 400px!important;
    }
    button.acordion {
        font-size: 22px;
    }
    .col-11 {
        padding-left: 30px;
        padding-right: 30px;
        line-height: 36px;
    }
    .number-acc {
        font-size: 30px;
        padding: 20px 25px 22px 20px;
    }
    button.acordion:after {
        margin-left: 5px;
        margin-right: -7px;
        margin-top: -63px;
        padding: 0px 10px;
    }
}
@media (max-width: 768px) {
    .col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
        float: left;
    }
    .display-4 {
        margin-top: 0px !important;
        font-size: 30px;
    }
    div.col-10.text-center {
        margin: 0px 30px 0px 30px !important;
    }
    h1, h2 {
        font-size: 22px;
    }
    .display-4 {
        font-size: 20px;
    }
    .btn {
        font-size: 16px !important;
        margin-left: -27px;
    }
    a img {
        width: 130px;
    }
    .hashtag h1 b {
        font-size: 20px;
    }
    .jumbotron-fluid {
        height: 300px!important;
    }
    .logo {
        width: 60% !important;
        margin-top: 80px;
        margin-left: 20%;
    }
    .mread-more-trigger {
        margin-top: 0px !important;
    }
    button.acordion {
        font-size: 22px;
    }
    .col-11 {
        padding-left: 30px;
        padding-right: 30px;
        line-height: 36px;
    }
    .number-acc {
        font-size: 30px;
        padding: 20px 25px 22px 20px;
    }
    button.acordion:after {
        margin-left: 5px;
        margin-right: -7px;
        margin-top: -63px;
        padding: 0px 10px;
    }
}
@media (max-width: 500px) {
    .hashtag {
        font-size: 12px !important;
        width: 300px !important;
        padding: 8px 5px 1px 5px;
    }
    h1 {
        font-size: 40px !important;
    }
    .jumbotron-fluid {
        height: 200px!important;
    }
    .logo { 
        margin-top: 50px;
        margin-left: 8%;
        width: 80% !important;
    }
    .mread-more-trigger {
        margin-top: 0px !important;
    }
    .col-1 {
        padding: 5px 5px 5px 5px;
    }
    button.acordion {
        font-size: 16px;
    }
    .col-11 {
        padding-left: 30px;
        padding-right: 15px;
        line-height: 36px !important;
        font-size: 14px !important;
    }
    .number-acc {
        font-size: 18px;
        padding: 29px 15px 31px 22px;
    }
    button.acordion:after {
        margin-left: 15px;
        margin-right: -7px;
        margin-top: -58px;
        padding: 0px 8px;
    }
}
